.BlackList {
  padding: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 2px solid #6b333c;
  transition: all 0.5s;
  &:hover {
    background-color: #6b333c;
    color: white;
    button {
      background-color: white;
      svg {
        color: #6b333c;
      }
    }
  }
  &:last-child {
    border-bottom: none;
  }
  button {
    height: 30px;
    width: 30px;
    background-color: #6b333c;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
    svg {
      width: 24px;
      height: 24px;
      color: white;
      transition: all 0.5s;
    }
  }
}
