.header {
  height: 80px;
  background-color: #edafb86e;
  display: flex;
  align-items: center;
}

.hMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toSite {
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
}

.menu {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 30px;
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: black;
      }
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: black;
        background: none;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
