.pagination {
  height: 60px;
  padding: 20px 40px;
  margin-top: 2px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #edafb8;
  border: 1px solid #6b333c;
  .pageIndex {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #6b333c;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s;
    cursor: pointer;
    &.active {
      width: 45px;
      height: 45px;
      background-color: #a65f68;
    }
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
