.seoWrapper {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #b5737d;
    h1 {
      margin: 0px;
      color: white;
    }
  }
}
