.orderHeader {
  padding: 10px 20px;
  background-color: rgba(237, 175, 184, 0.431372549);
  border-radius: 5px 5px 0px 0px;
  margin-top: 30px;
}

.order {
  border: 1px solid #edafb8;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 2px 0px;
}
