.section {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 130px 0px;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sectionBody {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10%;
  box-sizing: border-box;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.sectionBodyReverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10%;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.sectionText {
  flex: 0 0 40%;
}

.sectionList {
  flex: 0 0 50%;
  @media (max-width: 900px) {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 30px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 5px;
      border: 0px;
    }
    .row {
      transition: all 0.5s;
      cursor: pointer;
      &:nth-child(2n) {
        background-color: #edafb86e;
      }
      &:hover {
        background-color: #edafb8;
      }
    }
  }
}

.lineWrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 350px;
  height: 1px;
  background-color: black;
}

.litteButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #edafb8;
  padding: 20px;
  border-radius: 5px;
  animation: blum 3s infinite linear;
  color: black;
  text-decoration: none;
}

.buttonMore {
  display: block;
  padding: 5px 0px 0px;
  color: #edafb8;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    color: #d0909a;
  }
}

.slide {
  img {
    max-height: 300px;
  }
}

@keyframes blum {
  0% {
    transform: rotateZ(0deg);
  }
  5% {
    transform: rotateZ(10deg);
  }
  10% {
    transform: rotateZ(-10deg);
  }
  15% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
