.SeoHeader {
  width: 1440px;
  margin: 20px auto 0px;
  ul {
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    li {
      &.active {
        a {
          background-color: #6b333c;
        }
      }
      a {
        display: block;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        border-radius: 5px 5px 0px 0px;
        background-color: #a65f68;
        color: white;
        transition: all 0.5s;
        &:hover {
          background-color: #6b333c;
        }
        &.active {
          background-color: #6b333c;
        }
      }
    }
  }
}
